<a href="https://colab.research.google.com/github/Karl9Doniz/lab10_Ahitoliev_Andrii/blob/main/counties_process.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
path = '/census.csv'

def read_data(path_to_file):
    df = pd.read_csv(path_to_file)
    return df

read_data(path)

,SUMLEV,REGION,DIVISION,STATE,COUNTY,STNAME,CTYNAME,CENSUS2010POP,ESTIMATESBASE2010,POPESTIMATE2010,...,RDOMESTICMIG2011,RDOMESTICMIG2012,RDOMESTICMIG2013,RDOMESTICMIG2014,RDOMESTICMIG2015,RNETMIG2011,RNETMIG2012,RNETMIG2013,RNETMIG2014,RNETMIG2015
0,40,3,6,1,0,Alabama,Alabama,4779736,4780127,4785161,...,0.002295,-0.193196,0.381066,0.582002,-0.467369,1.030015,0.826644,1.383282,1.724718,0.712594
1,50,3,6,1,1,Alabama,Autauga County,54571,54571,54660,...,7.242091,-2.915927,-3.012349,2.265971,-2.530799,7.606016,-2.626146,-2.722002,2.592270,-2.187333
2,50,3,6,1,3,Alabama,Baldwin County,182265,182265,183193,...,14.832960,17.647293,21.845705,19.243287,17.197872,15.844176,18.559627,22.727626,20.317142,18.293499
3,50,3,6,1,5,Alabama,Barbour County,27457,27457,27341,...,-4.728132,-2.500690,-7.056824,-3.904217,-10.543299,-4.874741,-2.758113,-7.167664,-3.978583,-10.543299
4,50,3,6,1,7,Alabama,Bibb County,22915,22919,22861,...,-5.527043,-5.068871,-6.201001,-0.177537,0.177258,-5.088389,-4.363636,-5.403729,0.754533,1.107861
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3188,50,4,8,56,37,Wyoming,Sweetwater County,43806,43806,43593,...,1.072643,16.243199,-5.339774,-14.252889,-14.248864,1.255221,16.243199,-5.295460,-14.075283,-14.070195
3189,50,4,8,56,39,Wyoming,Teton County,21294,21294,21297,...,-1.589565,0.972695,19.525929,14.143021,-0.564849,0.654527,2.408578,21.160658,16.308671,1.520747
3190,50,4,8,56,41,Wyoming,Uinta County,21118,21118,21102,...,-17.755986,-4.916350,-6.902954,-14.215862,-12.127022,-18.136812,-5.536861,-7.521840,-14.740608,-12.606351
3191,50,4,8,56,43,Wyoming,Washakie County,8533,8533,8545,...,-11.637475,-0.827815,-2.013502,-17.781491,1.682288,-11.990126,-1.182592,-2.250385,-18.020168,1.441961
3192,50,4,8,56,45,Wyoming,Weston County,7208,7208,7181,...,-11.752361,-8.040059,12.372583,1.533635,6.935294,-12.032179,-8.040059,12.372583,1.533635,6.935294

Warning: Total number of columns (100) exceeds max_columns (20) limiting to first (20) columns.

In [16]:
df = read_data(path)

def max_counties(df):
    frame = df.loc[(df['SUMLEV'] == 50)]
    states = frame['STNAME'].tolist()
    occurences = {state:states.count(state) for state in states}
    return [i for i in occurences.keys() if occurences[i] == 
            max(occurences.values())][0]

max_counties(df)

'Texas'

In [32]:
def max_difference(df):
    frame = df.loc[(df['SUMLEV'] == 50)]
    estimates = ['CTYNAME', 'POPESTIMATE2010', 'POPESTIMATE2011', 'POPESTIMATE2012', 
            'POPESTIMATE2013', 'POPESTIMATE2014', 'POPESTIMATE2015']
    df_pop = frame[estimates]
    population = []
    pop_dict = {}
    for index, rows in df_pop.iterrows():
        population.append(rows[estimates].tolist())
    for i in range(len(population)):
        biggest_dif = max(population[i][1:]) - min(population[i][1:])
        pop_dict[population[i][0]] = biggest_dif
    return max(pop_dict, key=pop_dict.get)

max_difference(df)

'Harris County'

In [76]:
def conditional_counties(df):
    frame = df.loc[(df['SUMLEV'] == 50)]
    df_conditional = frame.loc[((frame.REGION == 1) | (frame.REGION == 2)) 
        & (frame.POPESTIMATE2015 > frame.POPESTIMATE2014) & 
        frame['CTYNAME'].str.startswith('Washington')]
    return df_conditional[['STNAME', 'CTYNAME']]

conditional_counties(df)

            STNAME            CTYNAME
896           Iowa  Washington County
1419     Minnesota  Washington County
2345  Pennsylvania  Washington County
2355  Rhode Island  Washington County
3163     Wisconsin  Washington County